.page {
  min-height: max(550px, 100vh);
  max-width: 800px;
  background: radial-gradient(circle at center, #2b2b35 0%, #1b1b22 70%);
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.secondBar {
  display: flex;
  justify-content: right;
  padding: 5px 10px;
}

.pillBtn {
  background: #b9b3d6;
  padding: 18px 30px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.alertOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 1000;
}

.alertCard {
  background: #ffffff;
  color: #1f2937;
  max-width: 420px;
  width: 100%;
  border-radius: 12px;
  padding: 24px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.15),
    0 4px 10px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alertMessage {
  font-size: 16px;
  line-height: 1.5;
}

.alertBtn {
  align-self: flex-end;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;

  background: #2563eb;
  color: white;
}

.alertBtn:hover {
  background: #1d4ed8;
}

.alertBtn:active {
  transform: scale(0.97);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bottomBar {
  display: flex;
  width: 100%;
  min-width: 492px;
}

.left {
  flex: 1;
  background: #8f84b9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.mid {
  flex: 1;
  background: #414157;
  display: flex;
  align-items: center;
  justify-content: center;
}
.midIcon {
  flex: 1;
  background: #454575; /* optional */
  display: flex;
  align-items: center;
  justify-content: center;
}

.midIcon img {
  width: 35px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}



.right {
  flex: 1;
  background: #a5c0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative; /* IMPORTANT */
}

/* Absolute positioned help icon */
.infoIcon {
  position: absolute;
  top: 2px;
  right: 3px;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  color: #ff9900;

  font-size: 24px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;
}

.purple { color: #8f4fff; font-size: 22px; }
.orange { color: #ff9900; font-size: 22px; }
